# This file defines the requirements for a productive project deployment.
# It should not contain dependencies for tests, developer tools, etc. (see requirements-dev.txt)
typer[all]~=0.7.0
cookiecutter~=2.1.1
watchdog~=2.2.1
dirsync~=2.2.5
PyYAML~=6.0
